{% extends 'admin/base.html' %}

{% block content %}
    <div id="content-container" class="container">
        <section class="admin-list">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="admin-item">
                        <div class="info">共有 {{ article_cnt }} 公告</div>
                        <div class="bottom">
                            <a class="btn btn-primary" href="{{ url_for('admin.article') }}" data-id="3">公告管理</a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="admin-item">
                        <div class="info">共有 {{ group_cnt }} 专栏</div>
                        <div class="bottom">
                            <a class="btn btn-primary" href="{{ url_for('admin.group') }}" data-id="3">专栏管理</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
