{% extends 'base.html' %}
{% block content %}
    <div id="content-container" class="container">
        <ol class="breadcrumb breadcrumb-o" style="margin-top:-18px">
            <li><a href="/">首页</a></li>
            <li><a href="{{ url_for('group.index') }}">互动社区</a></li>
            <li class="active">
                <a href="{{ url_for('group.group_view', gid=group.id) }}">{{ group.title | truncate(20) }}</a></li>
        </ol>

        <div class="group-header"
             style="background:url({{ url_for('static', filename='images/background_group.jpg') }});background-repeat:no-repeat;background-size: 100% 100%;">
            <div class="media">
                <div class="media-left">
                    <a href="{{ url_for('group.group_view', gid=group.id) }}">
                        <img src="{{ group.logo }}" alt="{{ group.title }}" class="avatar-square-md">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">
                        {{ group.title }}
                    </h2>

                    <div class="media-metas">
                        <span class="mlm">{{ group.topicNum }}</span>个话题
                        <span class="mlm">创建时间：{{ group.createdTime | natural_time }}</span>
                    </div>
                </div>
            </div>
            <div class="image-overlay image-overlay-o"></div>
        </div>

        <div class="row">
            <!-- Group's topics -->
            <div class="col-md-9 group-main">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3 class="panel-title">专栏简介</h3></div>
                    <div class="panel-body">
                        <div class="well editor-text">
                            <p>{{ group.about }}</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">热门话题</h3>
                        <a href="{{ url_for('group.topic_all', gid=group.id) }}" class="more">
                            <i class="es-icon es-icon-morehoriz"></i></a>
                    </div>

                    {% with latest_topics = hot_topics %}
                        {% include 'group/widget_topic_list.html' %}
                    {% endwith %}

                </div>
            </div>
            <!-- End of topics -->

            <div class="col-md-3 group-side">
                {% if current_user.is_authenticated %}
                    <div class="mbm" id="new-topic">
                        {% if current_user.id %}
                            <a href="{{ url_for('group.topic_new', gid=group.id) }}"
                               class="btn btn-success btn-xlg btn-block" role="button">
                                <i class="es-icon es-icon-comment mrs text-xlg"></i>新建话题</a>
                        {% endif %}
                    </div>
                {% endif %}

                <div id="my-group">
                    {% if current_user.is_authenticated %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                    <p>你好{{current_user.username}}</p>
                                <br>
                            </div>
                        </div>
                    {% else %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <br>
                                <p class="text-center">你还没有登录，请先<a href="{{ url_for('user.signin', next=request.url) }}"> 登录</a>
                                    或<a href="{{ url_for('user.reg', next=request.url) }}"> 注册！</a></p>
                                <br>
                            </div>
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}

{# group #}
{# hot_topics #}