{% extends 'base.html' %}

{% block content %}
    <div class="user-center-header has-blurr" data-href="/static/upload/9.png?t=1478160813.33"
         data-sharpness="40" style="height: 220px; overflow: hidden; position: relative;">
        <div class="blurr-bg"
             style="background: url('{{ user.avatar_url }}') center center / 150%; left: 0px; right: 0px; top: -50px; bottom: -50px; width: 1916px; filter: blur(60px); transform: translateZ(0px); position: absolute;"></div>
        <div class="container clearfix" style="position: absolute; left: 0px; right: 0px; z-index: 1;">
            <div class="user-avatar">
                <div class="avatar-wrap">
                    <img class="avatar-lg" src="{{ user.avatar_url }}">
                </div>
                <div class="name">
                    {{ user.username }}
                </div>
                <div class="position">当前总资产
                    <span>{{ user_profit.all_mark_value + user.balance }}</span>元
                </div>
                <div class="position">账户余额
                    <span>{{ user.balance }}</span>元
                </div>
                <div class="mates">
                    <span class="mrm">盈利</span>{{ user_profit.all_profit }}元
                    <span class="mlm mrm">｜</span><span class="mrm">盈利率</span>{{ user_profit.all_profit_ratio }}%
                </div>
            </div>
            <div class="user-about hidden-sm hidden-xs">
                <div class="user-about-content">
                    {{ user.personal_profile or "暂无签名" }}
                </div>
            </div>
        </div>
        <div class="mask" style="position: absolute; left: 0px; right: 0px; z-index: 1;"></div>
    </div>

    <div id="content-container" class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">当前持仓</h3>
                </div>

                <div class="panel-body">
                    {% if profit_stock_list %}
                     <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>股票代码</th>
                                <th>股票名称</th>
                                <th>平均买入价格</th>
                                <th>持有数量</th>
                                <th>当前价格</th>
                                <th>持有股票市值</th>
                                <th>当前收益率</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for profit_stock in profit_stock_list %}
                            <tr>
                                <td>{{ profit_stock.code }}</td>
                                <td><a href='{{ url_for('stock.buy',code=profit_stock.code) }}'>{{ profit_stock.name }}</a></td>
                                <td>{{ profit_stock.average_price }}</td>
                                <td>{{ profit_stock.own_num }}</td>
                                <td>{{ profit_stock.real_price }}元</td>
                                <td>{{ profit_stock.mark_value }}元</td>
                                {% if profit_stock.cost != 0 %}
                                <td>{{ (profit_stock.mark_value - profit_stock.cost) / profit_stock.cost }}%</td>
                                {% else %}
                                <td>0</td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <br>
                    <p class="text-center">还没有持有任何股票!</p>
                    <br>
                    {% endif %}
                </div>
            </div>

            <!-- <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">交易历史</h3>
                </div>

                <div class="panel-body">

                        <br>
                        <p class="text-center">还没有任何交易历史</p>
                        <br>

                </div>
            </div> -->
        </div>
    </div>

{% endblock %}
